* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
}
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 2vw;
}
h4, p {
  font-size: 1.5vw;
}
/*header*/
.cabecera {
  width: 100%;
  height: 120px;
  padding: 20px;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
}
.cabecera li {
  padding: 15px;
  display: inline-block;
  margin-top: 10px;
}
.cabecera a:hover {
  animation: bounceIn;
  animation-duration: 3s;
}
.logo {
  width: 40%;
}
.logo img {
  width: 70%;
  height: 100px;
}
.botonera {
  width: 60%;
}
.banner {
  width: 100vw;
  height: 600px;
  animation: cambiarImagen 21s linear 0s infinite normal forwards running;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@keyframes cambiarImagen {
  0% {
    background-image: url("/imagenes/Portada1366x600px.png");
  }
  50% {
    background-image: url("/imagenes/Portada1366x600px3.png");
  }
  100% {
    background-image: url("/imagenes/Portada1366x600px(1).png");
  }
}
.titulo {
  padding: 16px;
  background-color: #ffffff;
  opacity: 60%;
  text-align: center;
}
.redes {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 5%;
}
a {
  text-decoration: none;
  color: black;
}
/*historia*/
section h2 {
  margin-top: 20px;
  text-align: center;
}
.historia {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  padding: 20px;
}
.historia img {
  width: 50%;
  height: 450px;
  padding: 30px;
}
.historia p {
  width: 50%;
  padding: 30px;
}
/*footer*/
footer {
  height: 150px;
  display: flex;
  background-color: #d9d9d9;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  h3 {
    font-size: 3vw;
  }
  h4, p {
    font-size: 2.5vw;
  }
  .logo {
    width: 30%;
  }
  .logo img {
    height: auto;
  }
  .botonera {
    width: 60%;
  }
  .botonera h4,
  p {
    font-size: 1.5vw;
  }
  .cabecera {
    height: 100px;
  }
  .banner {
    height: 400px;
  }
  .redes i {
    font-size: 4vw !important;
  }
  .historia {
    margin-bottom: 20px;
  }
  .historia img {
    height: 300px;
  }
  footer {
    height: 200px;
    flex-wrap: wrap;
  }
  .f1 {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 4.5vw;
  }
  h3 {
    font-size: 4vw;
  }
  .botonera h4 {
    font-size: 2vw;
  }
  h4, p {
    font-size: 3.5vw;
  }
  .cabecera {
    height: 125px;
    padding: 0px;
  }
  .logo {
    width: 50%;
  }
  .logo img {
    width: 100%;
    padding: 10%;
    margin-top: 5%;
  }
  .botonera {
    width: 50%;
    justify-content: center;
  }
  .botonera li {
    text-align: center;
    width: 100%;
    padding: 7px;
    margin: 0px;
    background-color: #d9d9d9;
  }
  .banner {
    height: 250px;
  }
  .redes i {
    font-size: 5vw !important;
  }
  section {
    width: 100%;
    margin-top: 10px;
  }
  .historia {
    padding-top: 0%;
    margin: 0%;
    align-content: center;
    flex-direction: column;
  }
  .historia img {
    padding-top: 10px;
    width: 100%;
    height: auto;
  }
  .historia p {
    text-align: justify;
    width: 100%;
    padding: 0%;
  }
footer {
  flex-direction: column;
  text-align: center;
  height: 300px;
  }
}
