* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*header*/
.cabecera {
    width: 100%;
    height: 120px;
    padding: 20px;
    background-color: #d9d9d9;
    opacity: 70%;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.banner {
    width: 100%; 
    height: 600px;
    background-image: url("https://sat02pap002files.storage.live.com/y4m8r1ASP9D9vmNtxZPvas5sI6Pkc2BOdrq41s1cehcW8pB-oCz6S39-ejsM-sKo0CTh1KytqK3rdQ2uOdgkOYNnneVd0ZLEPH5_Wd0xzRfv4E2vcNKeCy8-GknnBK5KvD6hDEdSzzq24VSgl_HYuuTr0eJgnYKm1cv_nR0D4OPChFPE9en5jalNfY1dSCL4v7CGVCQKqgdJ2uwZBS2YgQ7Uw/Portada%201366x600px.png?psid=1&width=1091&height=479");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.redes {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
}
.titulo {
    padding: 20px;
    background-color:#d9d9d9;
    opacity: 60%;
    text-align: center;
}
header li {
    padding: 20px;
    display: inline-block;
}
header a {
    text-decoration: none;
    color: black;
}
header a:hover {
    animation: bounceIn;
    animation-duration: 3s;
}
/*historia*/
section h2 {
    text-align: center;
}
.historia {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    padding: 30px;
}
section div img {
    width: 50%;
    height: 350px;
    padding: 30px;
}
section div p {
    width: 50%;
    padding: 30px;
}
/*footer*/
footer {
    display: flex;
    background-color: #d9d9d9;
    justify-content: space-around;
    align-items: center;
}